In [121]:
import pandas as pd
dataset = pd.read_excel("GQMCleanedData.xlsx")
print(dataset.shape)
dataset.drop(columns=['Unnamed: 0'],inplace=True)
list(dataset.columns.values)

(90, 22)

['Designation',
 'Age',
 'Gender',
 'Average Daily Working Hour',
 'Decision Contribution',
 'Spontaneous Participation',
 'Task Satisfaction',
 'Interaction Willingness',
 'External Interaction',
 'Informal Interaction',
 'Personal Information Sharing',
 'Effect On Personal Life',
 'Appreciation From Teammates',
 'Deadline Crossing Frequency',
 'Overtime Frequency',
 'Office Time Flexibility',
 'Cheerfulness',
 'Recreational Facilities',
 'Hobby Time',
 'Outdoor Activities Frequency',
 'Family Time']

In [122]:
dataset['Designation'].value_counts()

Intern                                           15
Software Engineer                                13
Student                                          11
Associate Software Engineer                       6
Junior Software Engineer                          4
intern                                            4
Senior Software Engineer                          3
Software engineer                                 3
student                                           2
Lecturer                                          2
Intern                                            2
Junior software engineer                          1
Software Engineer I                               1
Software engineer                                 1
Studemt                                           1
Full Stack Engineer (Senior)                      1
Junior full stack software developer              1
Senior Software Engineer                          1
Currently Unemployed                              1
Assistant Engineer                                1
Full Stack Developer                              1
Associate Game Developer                          1
Data Analyst                                      1
Software Engineering                              1
Tech Lead                                         1
student                                           1
Unemployed                                        1
Jr. Software Engineer                             1
Jr software engineer                              1
Head of Engineering                               1
Junior Software Engineer                          1
Associate Software Quality Assurance Engineer     1
Software developer                                1
Admin executive                                   1
Student                                           1
Trainee Assistant Officer                         1
Name: Designation, dtype: int64

In [139]:
dataset['Designation']=dataset['Designation'].replace("intern","Intern")
dataset['Designation']=dataset['Designation'].replace("Junior full stack software developer","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Trainee Assistant Officer","Intern")
dataset['Designation']=dataset['Designation'].replace("Software developer","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Associate Software Quality Assurance Engineer","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Jr software engineer","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Jr software engineer ","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Jr. Software Engineer","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Software Engineer I","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("student","Intern")
dataset['Designation']=dataset['Designation'].replace("Full Stack Developer","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Junior full stack software developer","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Full Stack Engineer (Senior)","Senior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Student","Intern")
dataset['Designation']=dataset['Designation'].replace("Studemt","Intern")
dataset['Designation']=dataset['Designation'].replace("Software engineer","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Software engineer ","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Junior software engineer","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Software Engineering ","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Software engineer","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Student ","Intern")
dataset['Designation']=dataset['Designation'].replace("student ","Intern")
dataset['Designation']=dataset['Designation'].replace("Unemployed ","Intern")
dataset['Designation']=dataset['Designation'].replace("Intern ","Intern")
dataset['Designation']=dataset['Designation'].replace("Currently Unemployed","Intern")
dataset['Designation']=dataset['Designation'].replace("Senior Software Engineer ","Senior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Associate Game Developer","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Junior Software Engineer ","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Associate Software Engineer","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Assistant Engineer ","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Head of Engineering","Tech Lead")

dataset['Designation'].value_counts()

Intern                      40
Software Engineer           21
Junior Software Engineer    18
Senior Software Engineer     5
Lecturer                     2
Tech Lead                    1
Admin executive              1
Data Analyst                 1
Head of Engineering          1
Name: Designation, dtype: int64

In [78]:
dataset['Age '].value_counts()

24     25
23     25
22     11
26      7
25      5
28      4
29      2
27      2
21      2
31      1
30      1
24+     1
43      1
33      1
32      1
Name: Age , dtype: int64

In [79]:
dataset['Gender'].value_counts()

Male      72
Female    18
Name: Gender, dtype: int64

In [80]:
dataset['Gender'] = dataset['Gender'].map({'Male': 0, 'Female':1})
dataset['Gender']

0     0
1     1
2     0
3     1
4     0
     ..
85    0
86    0
87    0
88    0
89    0
Name: Gender, Length: 90, dtype: int64

In [81]:
dataset['Average Daily Working Hour'].value_counts()

8     41
9     26
6      6
10     4
7      4
5      3
3      2
12     1
11     1
4      1
2      1
Name: Average Daily Working Hour, dtype: int64

In [82]:
dataset['Decision Contribution'].value_counts()

Sometimes    30
Rarely       25
Never        19
Often        13
Always        3
Name: Decision Contribution, dtype: int64

In [83]:
dataset['Decision Contribution'] = dataset['Decision Contribution'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Decision Contribution']

0     4
1     3
2     2
3     3
4     2
     ..
85    2
86    3
87    4
88    1
89    1
Name: Decision Contribution, Length: 90, dtype: int64

In [84]:
dataset['Spontaneous Participation'].value_counts()

Agree                44
Strongly agree       28
Neutral              15
Strongly disagree     2
Disagree              1
Name: Spontaneous Participation, dtype: int64

In [85]:
dataset['Spontaneous Participation'] = dataset['Spontaneous Participation'].map({'Strongly disagree': 1, 'Disagree': 2, 
                                                                   'Neutral':3, 'Agree':4, 
                                                                   'Strongly agree':5})
dataset['Spontaneous Participation']

0     4
1     4
2     4
3     5
4     4
     ..
85    4
86    4
87    5
88    3
89    3
Name: Spontaneous Participation, Length: 90, dtype: int64

In [86]:
dataset['Task Satisfaction'].value_counts()

Very Satisfied          31
Moderately satisfied    31
Slightly satisfied      15
Completely Satisfied    11
Not at all satisfied     2
Name: Task Satisfaction, dtype: int64

In [87]:
dataset['Task Satisfaction'] = dataset['Task Satisfaction'].map({'Not at all satisfied': 1, 'Slightly satisfied': 2, 
                                                                   'Moderately satisfied':3, 'Very Satisfied':4, 
                                                                   'Completely Satisfied':5})
dataset['Task Satisfaction']

0     3
1     4
2     2
3     5
4     4
     ..
85    4
86    3
87    4
88    2
89    2
Name: Task Satisfaction, Length: 90, dtype: int64

In [88]:
dataset['Interaction Willingness'].value_counts()

Always       40
Often        35
Sometimes     9
Rarely        6
Name: Interaction Willingness, dtype: int64

In [89]:
dataset['Interaction Willingness'] = dataset['Interaction Willingness'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Interaction Willingness']

0     2
1     5
2     3
3     5
4     4
     ..
85    5
86    4
87    5
88    3
89    2
Name: Interaction Willingness, Length: 90, dtype: int64

In [90]:
dataset['External Interaction'].value_counts()

Sometimes    30
Often        20
Always       20
Rarely       18
Never         2
Name: External Interaction, dtype: int64

In [91]:
dataset['External Interaction'] = dataset['External Interaction'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['External Interaction']

0     5
1     5
2     2
3     3
4     5
     ..
85    5
86    4
87    3
88    3
89    3
Name: External Interaction, Length: 90, dtype: int64

In [92]:
dataset['Informal Interaction'].value_counts()

Sometimes    28
Rarely       25
Often        21
Always       10
Never         6
Name: Informal Interaction, dtype: int64

In [93]:
dataset['Informal Interaction'] = dataset['Informal Interaction'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Informal Interaction']

0     1
1     4
2     3
3     4
4     5
     ..
85    5
86    3
87    3
88    4
89    3
Name: Informal Interaction, Length: 90, dtype: int64

In [94]:
dataset['Personal Information Sharing'].value_counts()

Sometimes    34
Rarely       24
Often        15
Never        11
Always        6
Name: Personal Information Sharing, dtype: int64

In [95]:
dataset['Personal Information Sharing'] = dataset['Personal Information Sharing'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Personal Information Sharing']

0     3
1     5
2     1
3     4
4     5
     ..
85    3
86    2
87    3
88    2
89    2
Name: Personal Information Sharing, Length: 90, dtype: int64

In [96]:
dataset['Effect On Personal Life'].value_counts()

Never        36
Rarely       29
Sometimes    20
Always        3
Often         2
Name: Effect On Personal Life, dtype: int64

In [97]:
dataset['Effect On Personal Life'] = dataset['Effect On Personal Life'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Effect On Personal Life']

0     4
1     2
2     1
3     2
4     4
     ..
85    2
86    1
87    2
88    1
89    3
Name: Effect On Personal Life, Length: 90, dtype: int64

In [98]:
dataset['Appreciation From Teammates'].value_counts()

Agree                51
Strongly agree       23
Neutral              12
Strongly disagree     2
Disagree              2
Name: Appreciation From Teammates, dtype: int64

In [99]:
dataset['Appreciation From Teammates'] = dataset['Appreciation From Teammates'].map({'Strongly disagree': 1, 'Disagree': 2, 
                                                                   'Neutral':3, 'Agree':4, 
                                                                   'Strongly agree':5})
dataset['Appreciation From Teammates']

0     3
1     4
2     4
3     5
4     4
     ..
85    4
86    4
87    5
88    2
89    3
Name: Appreciation From Teammates, Length: 90, dtype: int64

In [100]:
dataset['Deadline Crossing Frequency'].value_counts()

Rarely       37
Sometimes    35
Often         8
Never         8
Always        2
Name: Deadline Crossing Frequency, dtype: int64

In [101]:
dataset['Deadline Crossing Frequency'] = dataset['Deadline Crossing Frequency'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Deadline Crossing Frequency']

0     2
1     2
2     2
3     2
4     3
     ..
85    3
86    2
87    4
88    2
89    3
Name: Deadline Crossing Frequency, Length: 90, dtype: int64

In [102]:
dataset['Overtime Frequency'].value_counts()

Sometimes    40
Often        23
Rarely       17
Always        7
Never         3
Name: Overtime Frequency, dtype: int64

In [103]:
dataset['Overtime Frequency'] = dataset['Overtime Frequency'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Overtime Frequency']

0     4
1     4
2     4
3     3
4     3
     ..
85    3
86    3
87    4
88    5
89    4
Name: Overtime Frequency, Length: 90, dtype: int64

In [104]:
dataset['Office Time Flexibility'].value_counts()

Sufficiently Flexible    25
Moderately Flexible      23
Quite Flexible           20
Not Flexible             11
Very Flexible            11
Name: Office Time Flexibility, dtype: int64

In [105]:
dataset['Office Time Flexibility'] = dataset['Office Time Flexibility'].map({'Not Flexible': 1, 'Quite Flexible': 2, 
                                                                   'Moderately Flexible':3, 'Sufficiently Flexible':4, 
                                                                   'Very Flexible':5})
dataset['Office Time Flexibility']

0     1
1     3
2     2
3     4
4     4
     ..
85    2
86    4
87    4
88    2
89    2
Name: Office Time Flexibility, Length: 90, dtype: int64

In [106]:
dataset['Cheerfulness'].value_counts()

Neutral              32
Agree                31
Strongly Agree       14
Disagree              9
Strongly Disagree     4
Name: Cheerfulness, dtype: int64

In [107]:
dataset['Cheerfulness'] = dataset['Cheerfulness'].map({'Strongly Disagree': 1, 'Disagree': 2, 
                                                                   'Neutral':3, 'Agree':4, 
                                                                   'Strongly Agree':5})
dataset['Cheerfulness']

0     3
1     4
2     2
3     5
4     4
     ..
85    4
86    4
87    3
88    3
89    1
Name: Cheerfulness, Length: 90, dtype: int64

In [108]:
dataset['Recreational Facilities'].value_counts()

Fair         28
Poor         20
Good         18
Excellent    16
Very poor     8
Name: Recreational Facilities, dtype: int64

In [109]:
dataset['Recreational Facilities'] = dataset['Recreational Facilities'].map({'Very poor': 1, 'Poor': 2, 
                                                                   'Fair':3, 'Good':4, 
                                                                   'Excellent':5})
dataset['Recreational Facilities']

0     3
1     4
2     3
3     4
4     5
     ..
85    3
86    3
87    2
88    3
89    2
Name: Recreational Facilities, Length: 90, dtype: int64

In [110]:
dataset['Hobby Time'].value_counts()

Sometimes    31
Often        26
Rarely       21
Always        9
Never         3
Name: Hobby Time, dtype: int64

In [111]:
dataset['Hobby Time'] = dataset['Hobby Time'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Hobby Time']

0     2
1     2
2     2
3     4
4     4
     ..
85    3
86    2
87    3
88    3
89    2
Name: Hobby Time, Length: 90, dtype: int64

In [112]:
dataset['Outdoor Activities Frequency'].value_counts()

Rarely       32
Sometimes    21
Always       14
Often        12
Never        11
Name: Outdoor Activities Frequency, dtype: int64

In [113]:
dataset['Outdoor Activities Frequency'] = dataset['Outdoor Activities Frequency'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Outdoor Activities Frequency']

0     2
1     3
2     1
3     2
4     5
     ..
85    5
86    2
87    3
88    3
89    3
Name: Outdoor Activities Frequency, Length: 90, dtype: int64

In [114]:
dataset['Family Time'].value_counts()

Often        29
Sometimes    25
Always       19
Rarely       15
Never         2
Name: Family Time, dtype: int64

In [115]:
dataset['Family Time'] = dataset['Family Time'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Family Time']

0     2
1     3
2     2
3     3
4     5
     ..
85    4
86    4
87    4
88    3
89    3
Name: Family Time, Length: 90, dtype: int64

In [116]:
dataset.to_excel("EncodedData.xlsx")