In [33]:
import pandas as pd
dataset = pd.read_excel("GQMCleanedData.xlsx")
print(dataset.shape)
dataset.drop(columns=['Unnamed: 0'],inplace=True)
list(dataset.columns.values)

(90, 22)

['Designation ',
 'Age ',
 'Gender',
 'Average Daily Working Hour',
 'Decision Contribution',
 'Spontaneous Participation',
 'Task Satisfaction',
 'Interaction Willingness',
 'External Interaction',
 'Informal Interaction',
 'Personal Information Sharing',
 'Effect On Personal Life',
 'Appreciation From Teammates',
 'Deadline Crossing Frequency',
 'Overtime Frequency',
 'Office Time Flexibility',
 'Cheerfulness',
 'Recreational Facilities',
 'Hobby Time',
 'Outdoor Activities Frequency',
 'Family Time']

In [34]:
dataset['Designation '].value_counts()

Intern                                           15
Software Engineer                                13
Student                                          11
Associate Software Engineer                       6
intern                                            4
Senior Software Engineer                          3
Junior Software Engineer                          3
Software engineer                                 3
student                                           2
Lecturer                                          2
Intern                                            2
Junior software engineer                          1
Software Engineering                              1
Software engineer                                 1
Studemt                                           1
Full Stack Engineer (Senior)                      1
Junior full stack software developer              1
Senior Software Engineer                          1
Currently Unemployed                              1
Assistant Engineer                                1
Full Stack Developer                              1
Associate Game Developer                          1
Data Analyst                                      1
Tech Lead                                         1
Software Engineer I                               1
student                                           1
Unemployed                                        1
bsse0921@iit.du.ac.bd                             1
Jr. Software Engineer                             1
Jr software engineer                              1
Head of Engineering                               1
Junior Software Engineer                          1
Associate Software Quality Assurance Engineer     1
Software developer                                1
Admin executive                                   1
Student                                           1
Trainee Assistant Officer                         1
Name: Designation , dtype: int64

In [35]:
dataset['Age '].value_counts()

24     25
23     25
22     11
26      7
25      5
28      4
29      2
27      2
21      2
31      1
30      1
24+     1
43      1
33      1
32      1
Name: Age , dtype: int64

In [36]:
dataset['Gender'].value_counts()

Male      72
Female    18
Name: Gender, dtype: int64

In [37]:
dataset['Gender'] = dataset['Gender'].map({'Male': 0, 'Female':1})
dataset['Gender']

0     0
1     1
2     0
3     1
4     0
     ..
85    0
86    0
87    0
88    0
89    0
Name: Gender, Length: 90, dtype: int64

In [38]:
dataset['Average Daily Working Hour'].value_counts()

8     41
9     26
6      6
10     4
7      4
5      3
3      2
12     1
11     1
4      1
2      1
Name: Average Daily Working Hour, dtype: int64

In [39]:
dataset['Decision Contribution'].value_counts()

Sometimes    30
Rarely       25
Never        19
Often        13
Always        3
Name: Decision Contribution, dtype: int64

In [40]:
dataset['Decision Contribution'] = dataset['Decision Contribution'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Decision Contribution']

0     4
1     3
2     2
3     3
4     2
     ..
85    2
86    3
87    4
88    1
89    1
Name: Decision Contribution, Length: 90, dtype: int64

In [41]:
dataset['Spontaneous Participation'].value_counts()

Agree                44
Strongly agree       28
Neutral              15
Strongly disagree     2
Disagree              1
Name: Spontaneous Participation, dtype: int64

In [42]:
dataset['Spontaneous Participation'] = dataset['Spontaneous Participation'].map({'Strongly disagree': 1, 'Disagree': 2, 
                                                                   'Neutral':3, 'Agree':4, 
                                                                   'Strongly agree':5})
dataset['Spontaneous Participation']

0     4
1     4
2     4
3     5
4     4
     ..
85    4
86    4
87    5
88    3
89    3
Name: Spontaneous Participation, Length: 90, dtype: int64

In [43]:
dataset['Task Satisfaction'].value_counts()

Very Satisfied          31
Moderately satisfied    31
Slightly satisfied      15
Completely Satisfied    11
Not at all satisfied     2
Name: Task Satisfaction, dtype: int64

In [44]:
dataset['Task Satisfaction'] = dataset['Task Satisfaction'].map({'Not at all satisfied': 1, 'Slightly satisfied': 2, 
                                                                   'Moderately satisfied':3, 'Very Satisfied':4, 
                                                                   'Completely Satisfied':5})
dataset['Task Satisfaction']

0     3
1     4
2     2
3     5
4     4
     ..
85    4
86    3
87    4
88    2
89    2
Name: Task Satisfaction, Length: 90, dtype: int64

In [45]:
dataset['Interaction Willingness'].value_counts()

Always       40
Often        35
Sometimes     9
Rarely        6
Name: Interaction Willingness, dtype: int64

In [46]:
dataset['Interaction Willingness'] = dataset['Interaction Willingness'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Interaction Willingness']

0     2
1     5
2     3
3     5
4     4
     ..
85    5
86    4
87    5
88    3
89    2
Name: Interaction Willingness, Length: 90, dtype: int64

In [47]:
dataset['External Interaction'].value_counts()

Sometimes    30
Often        20
Always       20
Rarely       18
Never         2
Name: External Interaction, dtype: int64

In [48]:
dataset['External Interaction'] = dataset['External Interaction'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['External Interaction']

0     5
1     5
2     2
3     3
4     5
     ..
85    5
86    4
87    3
88    3
89    3
Name: External Interaction, Length: 90, dtype: int64

In [49]:
dataset['Informal Interaction'].value_counts()

Sometimes    28
Rarely       25
Often        21
Always       10
Never         6
Name: Informal Interaction, dtype: int64

In [50]:
dataset['Informal Interaction'] = dataset['Informal Interaction'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Informal Interaction']

0     1
1     4
2     3
3     4
4     5
     ..
85    5
86    3
87    3
88    4
89    3
Name: Informal Interaction, Length: 90, dtype: int64

In [51]:
dataset['Personal Information Sharing'].value_counts()

Sometimes    34
Rarely       24
Often        15
Never        11
Always        6
Name: Personal Information Sharing, dtype: int64

In [ ]:
dataset['Personal Information Sharing'] = dataset['Personal Information Sharing'].map({'Never': 1, 'Rarely': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Personal Information Sharing']